.column {
	float: left;
	width: 33.33%;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

#maintext {
	color: purple;
	text-align: center;
	font-size: 16px;
}

body {
	background-color: lightblue;
}